<beans:beans xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
		
		<http>
		<intercept-url pattern="/addProduct*" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/listProd*" access="hasRole('ROLE_USER')" />
		<form-login
			login-page="/login"
			authentication-failure-url="/error"
			username-parameter="username"
			password-parameter="password" />
		<csrf/>
		<logout logout-success-url="/logout" />	
		</http>
		
		<authentication-manager>
			<authentication-provider>
			<password-encoder hash="bcrypt" />
				<user-service>
					<user name="Saurabh" password="$2y$12$yIz6bc3vINncetJLddj5x.WkELGk5xQEs49n/fB1DlMJp4IOX2fJW" authorities="ROLE_USER" />
					<user name="Mohan" password="$2y$12$CnPkKWh9a2dOd7GZ3Y4CiunWv6Y7lSoYjUAo7AAhLvneOpydD49kq" authorities="ROLE_ADMIN" />
				</user-service>
			</authentication-provider>
		</authentication-manager>
		
</beans:beans>